<nav class="bg-gray-900 py-4">
    <div class="container mx-auto">
        <ul class="flex space-x-6">
            <li><a href="{% url 'index' %}" class="text-white hover:text-gray-300">Home</a></li>
            <li><a href="{% url 'about' %}" class="text-white hover:text-gray-300">About</a></li>
            <li><a href="{% url 'contact' %}" class="text-white hover:text-gray-300">Contact</a></li>
            <li><a href="{% url 'blogs' %}" class="text-white hover:text-gray-300">Blogs</a></li>
            <li><a href="{% url 'add-blog' %}" class="text-white hover:text-gray-300">Add Blog</a></li>
            {% if user.is_authenticated %}
                <li>
                  <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="text-white hover:text-gray-300">Logout</button>
                  </form>
                </li>
            {% else %}
                <li><a href="{% url 'login' %}" class="text-white hover:text-gray-300">Login</a></li>
            {% endif %}
        </ul>
    </div>
</nav>